<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/whoru.css" />
  <link rel="icon" href="/assets/logo1.jpg" type="image/jpg"> 
  <title>Hunger Hearts</title>
</head>
  

<body>
  <div class="header">
    <img src="/assets/logo.jpg" alt="Company Logo" class="company-logo" href="/">
    <a href="/" class="company-name">Hunger Hearts</a>
  </div>
  
  <div class="main-content">
    <div class="slideshow-container">
      <div class="mySlides fade">
        <img src="/assets/i1.jpg" style="width:60%">
      </div>

      <div class="mySlides fade">
        <img src="/assets/i2.jpg" style="width:60%">
      </div>

      <div class="mySlides fade">
        <img src="../assets/i3.jpg" style="width:60%">
      </div>

      <!-- More images from different folders -->
    </div>
    <div class="buttons-init">
      <div class="card shadow">
        <a href="/u_login" class="button-link">

          <button class="learn-more">
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">user</span>
          </button>
        </a>
        <a href="/d_login" class="button-link">
          <button class="learn-more">
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">donor</span>
          </button></a>
        <a href="/del_login" class="button-link">
          <button class="learn-more">
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">delivery boy</span>
          </button></a>
      </div>
    </div>
  </div>
  <div class="carousel-container">
    <div class="carousel">
      <div class="slide">NGO 1</div>
      <div class="slide">NGO 2</div>
      <div class="slide">NGO 3</div>
      <div class="slide">NGO 4</div>
    </div>
  </div>

  <div class="wrapper">
    <div class="left-text">
      <h3 class="text-heading" id="left-heading"></h3>
      <p class="text-description" id="left-description"></p>
    </div>
    <div class="container">
      <input type="radio" name="slider" id="item-1" checked>
      <input type="radio" name="slider" id="item-2">
      <input type="radio" name="slider" id="item-3">
      <div class="cards">
        <label class="card_carousel" for="item-1" id="song-1">
          <img class="img_carousel" src="https://en-media.thebetterindia.com/uploads/2016/08/Featured-Swabhimaan.jpg"
            alt="song">
        </label>
        <label class="card_carousel" for="item-2" id="song-2">
          <img class="img_carousel" src="https://en-media.thebetterindia.com/uploads/2016/08/Swabhimaan11-1.jpg"
            alt="song">
        </label>
        <label class="card_carousel" for="item-3" id="song-3">
          <img class="img_carousel" src="https://en-media.thebetterindia.com/uploads/2016/08/Swabhimaan9.jpg"
            alt="song">
        </label>
      </div>

    </div>
    <div class="right-text">
      <h3 class="text-heading" id="right-heading"></h3>
      <p class="text-description" id="right-description"></p>
    </div>
  </div>


  <div class="s3-section">
    <div class="s3-container">
      <div class="s3-left-section">

        <iframe class="frames3" src="https://www.youtube.com/embed/cukH1DP9tzA
        " title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>

      </div>
      <div class="s3-right-section">
        <div class="s3-text-content">
          <h1>Transform Leftovers into Hope: Your Guide to Food Donation</h1>
          <p>
            Can you believe that 5% of America's leftovers could feed 4 million people for a day? Have you
             thought about donating food but weren't sure where to start? Here is how you
             can start donating your prepared, un-served food and receive a tax benefit at the same time!
          </p>
        </div>
      </div>
    </div>

    <div class="s3-container reverse">
      <div class="s3-left-section">
        
          <iframe class="s3-video-player" src="https://www.youtube.com/embed/epB33CUpeY8
        " title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
         
       
      </div>
      <div class="s3-right-section">
        <div class="s3-text-content">
          <h1>From Waste to Nourishment: How Venkat and Vijaya Iyer are Feeding 500 Slum Dwellers</h1>
          <p>
            The food, which would otherwise have been tossed into garbage cans at the office canteens, 
            will feed 500 slum dwellers, thanks to NGO Swabhiman. This initiative is the brainchild of Venkat Iyer 
            and Vijaya Iyer, who returned to India leaving their well-to-do life in Muscat about ten years ago, 
            having made a decision to devote the rest of their lives to the service of the poor in India.
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="s4container">
    <div class="s4button-container">
      <button class="s4image-button" onclick="changeImage('/assets/op1.jpg')">Option 1</button>
      <button class="s4image-button" onclick="changeImage('/assets/op2.jpg')">Option 2</button>
      <button class="s4image-button" onclick="changeImage('/assets/op3.jpg')">Option 3</button>
      <!-- Add more buttons as needed -->
    </div>
    <div class="s4image-container">
      <img id="s4main-image" src="/assets/main.jpg" alt="Description of Image" />
    </div>

  </div>

  <footer class="site-footer">
    <div class="footer-content">
      <div class="logo-column">
        <img src="/assets/logo.jpg" alt="Your Logo" class="footer-logo" style="width: 141.5px; height: auto;" />
      </div>
  
      <div class="footer-info second-column">
        <h2 class="footer-business-name">Hunger Hearts</h2>
        <p class="footer-business-address">
          IIIT Sri City<br>
         Gyan Circle,Sri City
        </p>
        <p class="footer-business-phone">Phone: 9848660099</p>
      </div>
  
      <nav class="footer-nav third-column">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">Blog</a></li>
          <li><a href="/">Contact</a></li>
          <li><a href="/">Privacy</a></li>
        </ul>
      </nav>
    </div>



  
</body>


<script>
  var slideIndex = 0;
  showSlides();

  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");

    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }

    slideIndex++;

    if (slideIndex > slides.length) {
      slideIndex = 1;
    }

    slides[slideIndex - 1].style.display = "block";

    setTimeout(showSlides, 1000);
  }

  function changeImage(imageSource) {
    const mainImage = document.getElementById('s4main-image');
    mainImage.src = imageSource;
  }

  function updateText(heading, description) {
    document.getElementById("left-heading").innerText = heading;
    document.getElementById("left-description").innerText = description;
    document.getElementById("right-heading").innerText = heading;
    document.getElementById("right-description").innerText = description;
  }

  // Set initial text content for the first image
  document.getElementById("left-heading").innerText = "Came Back to India to Help Its Poorest";
  document.getElementById("left-description").innerText =
    "Venkat and Vijaya Iyer, a retired couple living in Bangalore, have devoted their lives to the betterment of slum dwellers in their neighbourhood. Venkat and Vijaya Iyer, a retired couple living in Bangalore, have devoted their lives for the betterment of slum dwellers in their neighbourhood.";

  document.getElementById("right-heading").innerText = "Came Back to India to Help Its Poorest";
  document.getElementById("right-description").innerText =
    "It’s 4.30 in the evening. On one side of a slushy slum road, there is a queue forming. Old men and women, handicapped people, mentally challenged persons, and young children – everyone is lining up slowly. They are patiently waiting for their evening meal. If the food does not come soon, they will have to go to bed hungry. A van arrives, bringing the excess food from lunches provided by three software companies to their employees. Jabbar and Hamid, residents of the slum, put on their face masks and gloves to distribute this food to the people in the queue.";

  // Add event listeners for the carousel items
  document.getElementById("item-1").addEventListener("change", function () {
    document.getElementById("left-heading").innerText = "Came Back to India to Help Its Poorest";
    document.getElementById("left-description").innerText =
      "Venkat and Vijaya Iyer, a retired couple living in Bangalore, have devoted their lives to the betterment of slum dwellers in their neighbourhood. Venkat and Vijaya Iyer, a retired couple living in Bangalore, have devoted their lives for the betterment of slum dwellers in their neighbourhood.";
  });

  document.getElementById("item-2").addEventListener("change", function () {
    document.getElementById("left-heading").innerText = "Venkat and Vijaya's Care for Slum Children";
    document.getElementById("left-description").innerText =
      "They identified 15 girl children of single mothers from the slums, offering them not just shelter, but a sense of family and belonging. Venkat and Vijaya took these girls under their wings, raising them as their own daughters. The children, aged between three to five years, moved into a house located right next to the couple's home. In this nurturing environment, they received more than just the basic necessities. They attended good schools, were provided with nutritious food, and dressed in well-fitted clothes. Despite being under the care of Venkat and Vijaya, their mothers were never kept away. The mothers visited regularly, creating a healthy balance between their biological family and their new home.";

    document.getElementById("right-heading").innerText = "Maintaining the Mother-Daughter Bond";
    document.getElementById("right-description").innerText =
      "As the children grew older, Venkat and Vijaya were conscious of ensuring that their emotional ties to their mothers remained intact. They believed that while it was important to provide the girls with a good education and upbringing, it was equally vital for them to maintain their roots and connection with their families. Today, these girls, who once lived in the slums with little hope for the future, are on the brink of beginning their college education. Venkat and Vijaya’s vision has given them not only a better life but also a strong sense of identity and belonging.";
  });

  document.getElementById("item-3").addEventListener("change", function () {
    document.getElementById("left-heading").innerText = "Food from Office Canteens to Feed 500 Slum Dwellers";
    document.getElementById("left-description").innerText =
      "This initiative is the brainchild of Venkat Iyer and Vijaya Iyer, a couple in their late 50s, who returned to India leaving their well-to-do life in Muscat about ten years ago. They had made a conscious decision to devote the rest of their lives to the service of the poor in India. They did not have any prior experience of working with the needy, nor did they know where to start or how to go about it. To learn the ropes of service, they started volunteering at an NGO. Within a year they knew that their hearts lay in supporting young women and their children.";

    document.getElementById("right-heading").innerText = "Food from Office Canteens to Feed 500 Slum Dwellers";
    document.getElementById("right-description").innerText =
      "There are numerous orphanages and transit homes for women in Bangalore but Venkat and Vijaya saw there were no organisations to support the many single mothers and their children who are deserted by husbands and fathers. Orphanages won’t take the children in because their parents are alive. But when young women are thrown out of their homes by their husbands, they have no place to go to and no means of taking care of their children. So they pick up odd jobs that require them to leave their children at the mercy of neighbours, a practice that is often unsafe for girl children.";
  });
</script>


</html>

