/* General body styling */
body {
    background-color: #000000;
    color: #0c0b0b;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; /* To ensure no overflow */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://plus.unsplash.com/premium_photo-1661962834814-2086d028cda1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Adjust the blur value as needed */
    z-index: -1; /* Keep the blurred image behind the content */
}

.content {
    z-index: 1; /* Ensure the content stays above the blurred background */
    position: relative;
    color: #070707;
    text-align: center;
}


/* Container for both login and signup forms */
.form-container {
    position: relative;
    background-color: rgba(131, 131, 131, 0.404); /* Updated for transparency */
    border-radius: 30px;
    padding: 2rem;
    width: 80%;
    height: 300px;
    max-width: 600px; /* Increased width */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    text-align: center;
    transition: all ease 0.3s;
}

.form-container::before,
.form-container::after {
    content: "";
    background-color: #fab5704c;
    position: absolute;
}



.form-container:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
}

/* Form input fields styling */
.form-control {
    background-color: #ffffff; /* Input field background */
    border: none;
    color: #000000; /* Input text color */
    margin-bottom: 1rem;
    padding: 0.75rem;
    border-radius: 5px; /* Added border radius for input fields */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.form-control:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Change on hover for input fields */
}


/* Button styles */
.btn-primary {
    background-color: #fff; /* Changed to white */
    color: #000;
    border: none;
    width: 100%;
    padding: 0.75rem;
}

.btn-primary:hover {
    background-color: #f0f0f0; /* Slightly lighter on hover */
}

/* Modal background color adjustment */
.modal-content {
    background-color: #1e1e1e; /* Match card background */
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7); /* Slightly stronger shadow for pop effect */
    color: #fff;
}

/* Close button in the modal */
.btn-close {
    filter: invert(100%); /* Invert to make the close button white */
}
